<section>
    <div class="container-fluid p-0">
        <!-- Fondo con imagen oscurecida -->
        <div class="bg-image" style="background-image: url('/assets/bg.webp');">
        <div class="bg-overlay"></div>
        
        <!-- Contenido en el centro -->
        <div class="content">
            <h1 class="text-center" id="tituloInicio">¡Renueva tu Estilo Ahora!</h1>
            <h4 class="text-center text-body-secondary">
                Descubre la excelencia en la barbería de Trujillo. Nuestros expertos barberos 
                te brindarán un corte de cabello fresco y con estilo que refleje tu personalidad.</h4>
        </div>
        </div>
    </div>
</section>
<section>
    <div class="card p-2">
        <div class="card-body">
          <h4 class="card-title text-danger">¡Descubre el Arte de la Barbería en Barba Roja!</h4>
          <h5 class="card-text text-body-secondary">
            Bienvenido a Barba Roja, la principal barbería en Trujillo. 
            Con nuestro equipo de hábiles barberos y nuestro compromiso con un servicio excepcional, 
            nos dedicamos a brindar a nuestros clientes la máxima experiencia en cuidado personal.
          </h5>

          <h5 class="card-text text-body-secondary">
            En Barba Roja, nos enorgullece nuestra atención al detalle y nuestra capacidad para crear 
            estilos personalizados que se ajusten al gusto único de cada individuo. Ya sea que busques 
            un corte de pelo clásico, un recorte de barba con estilo o un relajante afeitado con toalla 
            caliente, nuestros talentosos barberos están aquí para ofrecerte resultados de primera categoría. 
            Visítanos en Barba Roja y descubre el arte de la barbería tradicional. ¡Transforma tu estilo con nosotros!
          </h5>
        </div>
      </div>
</section>

<!-- 
<section>
    <div class="card p-2">
        <div class="card-body">
          <h4 class="card-title">AQUI IRIAN LOS SERVICIOS DESTACADOS</h4>
          <h5 class="card-text text-body-secondary">
            SERVICIOS DESTACADOS DESDE API
          </h5>
        </div>
      </div>
</section>
-->

<!-- Sección de Ubicación -->
<section class="location-section bg-dark">
    <div class="card p-3">
      <div class="row">
        <!-- Texto "Ubicanos" en el lado izquierdo -->
        <div class="col-md-6 text-center align-self-center">
          <h2 class="mb-4 text-danger">Ubícanos</h2>
          <p>Estamos ubicados en la Avenida Ricardo Palma 884!</p>
        </div>
  
        <!-- Mapa de Google en el lado derecho -->
        <div class="col-md-6 rounded-3">
          <div class="ratio ratio-16x9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d246.8681132061877!2d-79.00714151385192!3d-8.112701008981807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ad163262a274a1%3A0x1ecb054e60c4de49!2sAv.%20Ricardo%20Palma%20884%2C%20Trujillo%2013007!5e0!3m2!1ses-419!2spe!4v1700331741316!5m2!1ses-419!2spe" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
</section>
  