<style>
  @media (max-width: 576px) {
    .img-fluid {
      width: 100%;
      /* La imagen se ajustará al 100% del ancho del contenedor */
      height: auto;
      /* La altura se ajustará automáticamente según el ancho */
    }

    .offset-xl-1 {
      margin-left: 0;
    }
  }
</style>
<section class="p-lg-5 m-lg-5 p-sm-3 m-sm-3 p-md-4 m-md-4">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="/assets/undraw_sign_up_n6im.svg" class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

        <form (ngSubmit)="registrar()">

          <!-- Nombre input -->
          <div class="form-outline mb-4">
            <input [(ngModel)]="cliente.nombreCliente" name="nombreCliente" type="text"
              class="form-control form-control-lg" placeholder="Ingrese su nombre" required (blur)="validarNombre()" required/>
            <label class="form-label" for="form3Example3">Nombre</label>
            <!-- Validación de nombre -->
            <div *ngIf="nombreError" class="text-danger">
              {{ nombreError }}
            </div>
          </div>

          <!-- Apellido input -->
          <div class="form-outline mb-4">
            <input [(ngModel)]="cliente.apellidoCliente" name="apellidoCliente" type="text"
              class="form-control form-control-lg" placeholder="Ingrese su apellido" required
              (blur)="validarApellido()" required/>
            <label class="form-label" for="form3Example3">Apellido</label>
            <!-- Validación de apellido -->
            <div *ngIf="apellidoError" class="text-danger">
              {{ apellidoError }}
            </div>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input [(ngModel)]="cliente.correo" name="correo" type="email" class="form-control form-control-lg"
              placeholder="Ingrese su correo electrónico" (blur)="validarCorreo()" required/>
            <label class="form-label" for="form3Example3">Correo</label>
            <!-- Validación de correo electrónico -->
            <div *ngIf="correoError" class="text-danger">
              {{ correoError }}
            </div>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input [(ngModel)]="cliente.pass" name="pass" type="password" class="form-control form-control-lg"
              placeholder="Ingrese su contraseña" (blur)="validarPassword()" />
            <label class="form-label" for="form3Example3">Contraseña</label>
            <!-- Validación de contraseña -->
            <div *ngIf="passError" class="text-danger">
              {{ passError }}
            </div>
          </div>

          <!-- Telefono input -->
          <div class="form-outline mb-4">
            <input [(ngModel)]="cliente.telefono" name="telefono" type="text" class="form-control form-control-lg"
              placeholder="Ingrese su número telefónico" (blur)="validarTelefono()" required/>
            <label class="form-label" for="form3Example3">Teléfono</label>
            <!-- Validación de número telefónico -->
            <div *ngIf="telefonoError" class="text-danger">
              {{ telefonoError }}
            </div>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg" [disabled]="loading"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">
              Registrar
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0">¿Ya tienes una cuenta? <a href="/login" class="link-danger">Inicia
                Sesion</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>