<div class="container text-white rounded mt-3">
    <h2>Tabla de Usuarios</h2>
    <div class="table-responsive">
        <table class="table table-dark table-bordered table-hover align-middle text-center">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Contraseña</th>
                <th>Teléfono</th>
                <th>Es Admin?</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            </thead>
            <tbody>
                @for (u of usuarios; track u.id) {
                    <tr>
                        <th>{{ u.id }}</th>
                        <th>{{ u.nombreUsuario }}</th>
                        <th>{{ u.apellidoUsuario }}</th>
                        <th>{{ u.correo }}</th>
                        <th>{{ u.pass }}</th>
                        <th>{{ u.telefono }}</th>
                        @if (u.admin) {
                            <th class="text-success">{{ isAdminValidator(u.admin) }}</th> 
                        } @else {
                            <th>{{ isAdminValidator(u.admin) }}</th> 
                        }
                        <td><button class="btn btn-primary" routerLink="editarUsuario/{{u.id}}"><i class="bi bi-pencil-square"></i></button></td>
                        <td><button class="btn btn-danger" (click)="eliminarUsuario(u.id, u.nombreUsuario)"><i class="bi bi-trash"></i></button></td>                
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>