<section>
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">Johnatan Smith</h5>
              <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-primary" (click)="changeEditable()">Editar Perfil</button>
                <button type="button" class="btn btn-outline-danger ms-1">Eliminar Cuenta</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
        <form (ngSubmit)="editarUsuario()">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Nombre</p>
                </div>
                <div class="col-sm-9">
                    @if (isEditable) {
                        <input type="text" [(ngModel)]="usuario.nombreUsuario" required
                        class="form-control bg-dark text-white border-white" name="nombre" id="" value="Johnatan">
                    } @else {
                        <p class="text-muted mb-0">{{ usuario.nombreUsuario }}</p>
                    }
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Apellidos</p>
                </div>
                <div class="col-sm-9">
                    @if (isEditable) {
                        <input type="text" [(ngModel)]="usuario.apellidoUsuario"
                        class="form-control bg-dark text-white border-white" name="apellidos" id="" >
                    } @else {
                        <p class="text-muted mb-0">{{usuario.apellidoUsuario}}</p>
                    }
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Telefono</p>
                </div>
                <div class="col-sm-9">
                    @if (isEditable) {
                        <input type="text" [(ngModel)]="usuario.telefono"
                        class="form-control bg-dark text-white border-white" name="telefono" id="">
                    } @else {
                        <p class="text-muted mb-0">{{usuario.telefono}}</p>
                    }
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Correo</p>
                </div>
                <div class="col-sm-9">
                    @if (isEditable) {
                        <input type="text" [(ngModel)]="usuario.correo"
                        class="form-control bg-dark text-white border-white" name="correo" id="">
                    } @else {
                        <p class="text-muted mb-0">{{usuario.correo}}</p>
                    }
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Contraseña</p>
                </div>
                <div class="col-sm-9">
                    @if (isEditable) {
                        <input type="text" [(ngModel)]="usuario.pass"
                        class="form-control bg-dark text-white border-white" name="contrasena" id="">
                    } @else {
                        <p class="text-muted mb-0">{{usuario.pass}}</p>
                    }
                </div>
              </div>
            </div>
            @if (isEditable) {
                <button type="submit" [disabled]="loading" class="btn btn-primary m-2">Confirmar</button>
            }
          </div>
        </form>
        </div>
      </div>
    </div>
</section>